body{
    background-color: aquamarine;
}
h1{
    color: darkblue;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    background-color: beige;
    margin: auto;
}
th {
    background-color: #f2a365;
}